<table class="">
    <thead>
        <tr>
            <th>VIN</th>
            <th>ODOMETRO</th>
            <th>NÍVEL DO COMBUSTÍVEL</th>
            <th>STATUS</th>
            <th>LAT</th>
            <th>LONG</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input (change)="onChangeVin($event)" type="text" placeholder="{{ vin }}" value="{{ vin }}">
            </td>
            <td>{{odometro}}KM</td>
            <td>{{nivelCombustivel}}%</td>
            <td>{{status}}</td>
            <td>{{lat}}</td>
            <td>{{long}}</td>
        </tr>
    </tbody>
</table>