:host {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(253, 249, 249);
    padding: 4vh;
    gap: 3vh;
}

.div__img__logo {
    display: flex;
    justify-content: center;
    height: 30%;
}

.img__logo {
    height: 40%;
}

.login__title {
    font-size: 2vw;
    font-weight: 400;
    color: rgb(44, 44, 255)
}

app-login-form {
    width: 100%;
}

.section__img__carro {
    display: flex;
    align-self: center;
    width: 100%;
}

.img__carro {
    display: flex;
    height: 100%;
    width: 100%;
}